.product-page {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    animation: fadeIn 0.5s ease-in-out;
}

.product-image img {
    width: 100%;
    height: auto;
    max-width: 40rem;
    transition: transform 0.3s ease-in-out;
}

.product-image img:hover {
    transform: scale(1.05);
}

.image-thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    animation: slideUp 0.5s ease-in-out;
}

.product-details {
    max-width: 600px;
    margin-left: 2rem;
    margin-top: 0;
    animation: fadeIn 0.5s ease-in-out;
}

.add-to-cart {
    background-color: var(--terracotta);
    color: var(--roomwit);
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.add-to-cart:hover {
    background-color: var(--bosgroen);
    transform: scale(1.1);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .product-page {
        flex-direction: column;
        align-items: center;
        animation: fadeIn 0.5s ease-in-out;
    }
    .product-image img {
        max-width: 100%;
    }
    .product-details {
        margin-left: 0;
        margin-top: 1rem;
        animation: fadeIn 0.5s ease-in-out;
    }
    .add-to-cart {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        margin-bottom: 1rem;
        animation: slideUp 0.5s ease-in-out;
    }
}
